*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/wsp1SpencerH/nbproject/private/
/wsp1SpencerH/build/
/wsp2SpencerH/nbproject/private/
/wsp2SpencerH/build/
/wsp2SpencerH/dist/
/wsp3SpencerH/nbproject/private/
/wsp3SpencerH/build/
/wsp3SpencerH/dist/
/wsp4SpencerH/nbproject/private/
/wsp4SpencerH/build/
/wsp4SpencerH/dist/
/wsp5SpencerH/dist/
/wsp5SpencerH/nbproject/private/
/wsp6SpencerH/nbproject/private/
/wsp6SpencerH/build/
/wsp6SpencerH/dist/