/* 
  Created on : Jan 25, 2016, 8:48:11 PM
  Author     : dpbjinc
*/

/* CSS to center elements obtained from:
  https://www.w3.org/Style/Examples/007/center-example
*/
div.container {
  top:0;
  left:0;
  width:100%;
  height:67%;
  position:absolute;
  display:table;
}
div.vc {
  display:table-cell;
  vertical-align:middle;
}
div.login {
  width:8cm;
  margin:auto;
  border:0.1cm solid black;
}
div.login h1 {
  font-size:x-large;
  text-align:center;
}
div.login table, div.login table input.stretch {
  width:100%;
}

div.login p.message {
  margin: 0.25cm;
}
