/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
  Created on : Jan 25, 2016, 8:48:11 PM
  Author     : dpbjinc
*/

div.login {
  margin-left:auto;
  margin-right:auto;
  width:6cm;
}
div.login h1 {
  font-size:x-large;
  text-align:center;
}
div.login table, div.login table input {
  width:100%;
}
